.createSpeciality-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        "nav main";
    height: 100dvh;

}


.createSpeciality-container nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 400px auto;
    grid-template-areas:
        "titulo"
        "cotenido"
        "footer";

    border-right: 2px solid gray;
}

.createSpeciality-container nav #sdHeader {
    grid-area: titulo;
}

.createSpeciality-container nav #sdUl ul {
    grid-area: contenido;
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.createSpeciality-container nav #sdUl ul li {
    padding: 1rem;
}

.createSpeciality-container nav #sdUl ul li a {
    color: gray;
    text-decoration: none;
}

.createSpeciality-container nav #sdUl ul li a:hover {
    color: rgb(31, 31, 116);
    font-size: 18px;
}

.createSpeciality-container nav #sdUl ul #actual {
    background-color:  #c3dbef;
}

.createSpeciality-container nav #sdUl ul #actual a {
    color: rgb(31, 31, 116);
}

.createSpeciality-container nav #sdFooter ul {
    grid-area: footer;
    border-top: 2px solid gray;
    padding: 0%;
    margin: 0%;
}


.createSpeciality-container nav #sdFooter ul li {
    padding: 0.5rem;

}

.createSpeciality-container nav #sdFooter ul li a {
    text-decoration: none;
    color: gray;
}

.createSpeciality-container nav #sdFooter ul li a:hover {
    color: black;
    font-size: 18px;
}

.createSpeciality-container nav h3 {
    color: rgb(31, 31, 116);
}

.createSpeciality-container main {
    grid-area: main;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: auto;
    grid-template-areas:
        "titulo"
        "formulario";
    gap: 1rem;
    padding: 1% 10%;
    background-color: #c3dbef;
}

.createSpeciality-container main .titulo h2 {
    color: rgb(31, 31, 116);
}

.createSpeciality-container main form {
    grid-area: formulario;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: white;
}

.createSpeciality-container main form div {
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: right;
}

.createSpeciality-container main .titulo {
    grid-area: titulo;
}


.createSpeciality-container main .titulo div {
    display: flex;
    flex-direction: row;
    gap: 1%;
    color: gray;
}

.createSpeciality-container main .titulo div a {
    color: gray;
    text-decoration: none;
}

.createSpeciality-container main .titulo div a:hover {
    color: black;
    font-size: 18px;
}

.createSpeciality-container main form select {
    padding: 1%;
}